.sx-logo {
    color: #018181;
    font-weight: bold;
}

.sx-logo:hover {
    color: #018181;
    font-weight: bold;
}

.sx-logo:focus {
    color: #018181;
    font-weight: bold;
}

.sx-nav {
    min-height: 60px;
}

.sx-navbar {
    background-color: #111111;
}

.sx-link {
    color: #d1d1d1;
    font-weight: bold;
}

.sx-link:hover {
    color: #ffffff;
    font-weight: bold;
}

.sx-link:focus {
    color: #ffffff;
    font-weight: bold;
}